/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #0067B0;
}

.container {
    max-width: 65%;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

/* Estilo para la imagen */
.imagen-estilo {
    max-width: 200px;
    height: auto;
    border: 2px solid #ccc;
    border-radius: 30px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

/* Estilos para el encabezado */
h1 {
    color: #FFF;
    margin-bottom: 20px;
    background-color: #333;
    font-size: 24px;
    padding: 10px;
}

/* Estilos para las etiquetas */
label {
    font-weight: bold;
    display: block;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 16px;
    color: #FFF;
}

/* Estilos para los select */
select {
    width: 100%;
    padding: 10px;
    border-radius: 15px;
    border: 1px solid #ccc;
}

/* Estilos para los botones */
button {
    padding: 10px 20px;
    background-color: #3397FF;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 15px;
    margin-top: 15px;
    width: 100%;
    font-size: 16px;
}

/* Estilos para los botones cuando se les pasa el cursor por encima */
button:hover {
    background-color: #84DDFF;
}

/* Estilos para los párrafos de resultados */
p {
    font-size: 18px;
    margin-top: 15px;
    font-weight: bold;
    color: #FFF;
}

/* Estilos para el párrafo de información adicional */
p10 {
    font-size: 14px;
    font-style: italic;
    margin-top: 10px;
    background: #333;
    color: #fff;
    display: none;
}

/* Estilos para el pie de página */
footer {
    background-color: #333;
    padding: 10px;
    text-align: center;
    color: white;
    font-size: 12px;
}

footer a {
    color: #84DDFF;
    text-decoration: none;
}

/* Estilos para el botón y párrafo de resultado2 */
#botonResultado2,
#resultado2 {
    display: none;
}

/* Media queries para dispositivos con diferentes tamaños de pantalla */
@media (max-width: 768px) {
    /* Estilos para dispositivos de pantalla pequeña (como tabletas) */
    .imagen-estilo {
        max-width: 150px;
    }
    h1 {
        font-size: 22px;
        margin-bottom: 15px;
    }
    label {
        font-size: 14px;
        margin-top: 15px;
        margin-bottom: 5px;
    }
    select {
        padding: 8px;
        font-size: 14px;
    }
    button {
        padding: 8px 16px;
        font-size: 14px;
    }
    p {
        font-size: 16px;
        margin-top: 10px;
    }
    p10 {
        font-size: 12px;
        margin-top: 5px;
    }
    footer {
        font-size: 10px;
        padding: 5px;
    }
}

@media (max-width: 480px) {
    /* Estilos para dispositivos de pantalla pequeña (como teléfonos celulares) */
    .imagen-estilo {
        max-width: 100px;
    }
    h1 {
        font-size: 20px;
        margin-bottom: 10px;
    }
    label {
        font-size: 14px;
        margin-top: 10px;
        margin-bottom: 5px;
    }
    select {
        padding: 8px;
        font-size: 14px;
    }
    button {
        padding: 8px 16px;
        font-size: 14px;
    }
    p {
        font-size: 16px;
        margin-top: 10px;
    }
    p10 {
        font-size: 12px;
        margin-top: 5px;
    }
    footer {
        font-size: 10px;
        padding: 5px;
    }
}
